<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Beginners</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" referrerpolicy="stylesheet" />
    <style>
      body {
        margin: 5%;
        font-family: "Quicksand", sans-serif;
      }

      nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
      }

      nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 20px;
      }

      nav ul li {
        margin-right: 20px;
      }

      nav ul li a {
        text-decoration: none;
        border: none;
        background: none;
        font-size: 1em;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
      }

      .active {
        border-bottom: 3px solid rgba(0, 0, 0, 0.6);
      }

      .container {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
      }
    </style>
  </head>
  <body>
    <!-- Root component -->
    <div id="app">
      <header>
        <img src="image/vue.png" alt="logo" width="80" />
        <nav>
          <ul>
            <li><a href="#" v-bind:class="{ active: menu === 'home' }" @click="handleClickMenu('home', $event)">Home</a></li>
            <li><a href="#" v-bind:class="{ active: menu === 'services' }" @click="handleClickMenu('services', $event)">Services</a></li>
            <li><a href="#" v-bind:class="{ active: menu === 'about' }" @click="handleClickMenu('about', $event)">About Me</a></li>
          </ul>
        </nav>

        <!-- Interpolation -->
        <h1>{{ getFullName }}</h1>
        <p>The Progressive JavaScript Framework. {{ isGood ? "Better than Angular" : "But it's really bad" }}</p>

        <img :src="image" alt="vuejs-vector" width="500" />

        <!-- Two way data binding -->
        <section>
          <h2>{{ title }}</h2>
          <input type="text" v-model="title" />
          <hr style="margin: 20px 0; height: 2px; width: 50%; background-color: #000" />

          <div>
            <h3>Free Course ({{ courseList.length }})</h3>
            <h4>
              Your Course :
              <span style="display: block; font-weight: normal; margin: 8px 0"> {{ courseList }} </span>
            </h4>

            <!-- Conditional group rendering -->
            <template v-if="courseList.length > 1">
              <ul>
                <li style="margin-bottom: 6px" v-for="(course, index) in courseList">{{ index + 1 }} - {{ course }}</li>
              </ul>
            </template>
            <li v-else>Mohon maaf saat ini kelas sedang tidak tersedia</li>

            <div class="container">
              <label for="checkbox">
                <input type="checkbox" name="checkbox" id="checkbox" value="React.js" v-model="courseList" />
                React.js
              </label>
              <label for="checkbox">
                <input type="checkbox" name="checkbox" id="checkbox" value="Vue.js" v-model="courseList" />
                Vue.js
              </label>
              <label for="checkbox">
                <input type="checkbox" name="checkbox" id="checkbox" value="Angular" v-model="courseList" />
                Angular
              </label>
            </div>
        </section>
        
        <div>
          <div>
            <!-- v-for, v-if, v-else dan v-show (pengubahan display suatu element menjadi none) -->
            <h3>Perulangan (1-5)</h3>
            <ul>
              <li v-for="i in 5">{{ i }}</li>
            </ul>

            <!-- v-for practice -->
            <h3>Mencari bilangan genap: {{ iterableNumber }}</h3>
            <ul>
              <li v-for="x in findEvenNumber(iterableNumber)">{{ x }}</li>
            </ul>

            <!-- Iterasi object dengan v-for dan sekaligus mengakses value, key dan index nya  -->
            <h3>Iterasi object dengan v-for</h3>
            <ul>
              <li v-for="(post, key, index) in posts">{{ key }}: {{ post }}</li>
            </ul>
          </div>
        </div>

        <!-- Computed -->
        <div>
          <h2>"{{ numbers }}"</h2>
          <p>Angka tersebut termasuk bilangan <span style="text-decoration: underline">{{ printEvenOrOdd }}</span></p>
        </div>
        <!-- Directives -->
        <div>
          <!-- v-text as innerText -->
          <a href="#" v-html="vueHTMLContent"></a>

          <!-- v-html as innerHTML -->
          <strong v-text="vueTextContent"></strong>

          <!-- directive seperti contohnya v-text juga bisa menyimpan expression atau statement didalamnya  -->
          <div style="font-style: italic" v-text="isGood ? 'Aku sangat suka directive' : 'Cih, merepotkan sekali fitur directive ini!' "></div>
        </div>

        <!-- Event -->
        <div style="margin: 40px 0">
          <h1 v-text="counter"></h1>
          <button @click="handleClick">Click Me</button>
        </div>
      </header>

      <footer id="footer">
        <p v-once>Copyright &copy; 2022</p>
      </footer>
    </div>

    <!-- Vue.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>

    <script>
      const vm = new Vue({
        el: "#app",
        // datatype: string | boolean | array | object
        data: {
          title: "I Love Vue!",
          firstName: "Vue",
          lastName: "Framework",
          message: "Hello, JavaScript Framework",
          isGood: true,
          qty: 1,
          numbers: 2,
          counter: 0,
          vueHTMLContent: '<span style="font-weight: bold; display: block;">Directives v-html</span>',
          vueTextContent: "Directives v-text",
          image: "image/vuejs-vector.png",
          menu: "home",
          courseList: ["Larevel", "Deno", "Nuxt JS"],
          iterableNumber: [1, 2, 3, 4, 5],
          posts: {
            title: "How to use Vue.js",
            author: "Jane Doe",
            publishedOn: "2018-04-10",
          },
        },
        methods: {
          changeTitleWithParams: function (title) {
            this.title = title;
          },
          handleClick: function () {
            this.counter++;
            this.image = "image/reactjs-vector.jpg";
          },
          handleClickMenu: function (menu, event) {
            event.preventDefault();
            this.menu = menu;
          },
          findEvenNumber: function (args) {
            return args.filter((x) => {
              return x % 2 === 0;
            });
          },
        },
        computed: {
          totalPayment: function () {
            return this.qty * 10000;
          },
          getFullName: function () {
            return this.firstName + " " + this.lastName;
          },
          printEvenOrOdd: function () {
            return this.numbers % 2 === 0 ? `GENAP` : `GANJIL`;
          },
        }
      });
    </script>
  </body>
</html>
